
.div{
    padding: 0%;
    margin: 0%;
    background: mediumpurple;
}

.colorDiv{
    background:rebeccapurple;
}

.imageDiv {
    background: mediumpurple;
    padding: 1%;
}

img {
    width: 100%;
}

.titleDiv {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 40pt;
    color: ghostwhite;
    border: solid mediumpurple 20pt;

}


#div2 {
    position:relative;
    width: 48%;
    float:right;
}

#div3{
    color:ghostwhite;
    position:relative;
    width: 50%;
    float:left;

}

#div4 {
    background: mediumpurple;
    text-align: center;
    font-size: 20pt;
    color: rebeccapurple;
    clear:both;
    position:relative;
    float:left;
    width: 50%;  /* note that this is less than 50% because the border takes up 2 px of width - try turning off the border and then increasing to 50% */
}

